html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("https://img.freepik.com/vector-premium/elegante-diseno-fondo-marco-floral-acuarela-peonia-dibujada-mano-hojas_118960-3637.jpg?w=2000");
    background-position: center;
    
    background-size: auto;
 
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
